# Node modules
node_modules/

# Dist folder
dist/

# Logs
*.log

# Optional npm cache directory
.npm/

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# MacOS
.DS_Store
